@mixin poligon-01 {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 15%, 85% 0);
}
@mixin poligon-02 {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
@mixin poligon-03 {
  clip-path: polygon(50% 100%, 0 80%, 0 0, 100% 0, 100% 80%);
}
