// FONT
$fontFamily: "Titillium Web", sans-serif;

// SIZES
$menu-height: 60px;

// COLORS
// $main-color: #1d4e89;
$main-color: rgba(32, 32, 32, 0.9);
$color-gray: rgba(30, 30, 30, 0.95);

// GRID
$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;

$gutter-horizontal: 1.5rem;

$num-of-columns: 12;
