/* MENUS */
#main-nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

  ul {
    list-style-type: none;
    margin: 0;
  }

  /* Brand */
  #brand {
    display: flex;

    li {
      margin: 10px 20px;
      a {
        margin: 0 2vw;
        text-decoration: none;
      }
    }

    h1 {
      font-family: var(--fontFamily);
      font-size: 1.6rem;
      text-decoration: none;
      color: whitesmoke;
      display: block;
    }
  }
}

#menu-top {
  display: none;
  justify-content: right;
  padding-right: 40px;

  li {
    flex-flow: column-reverse;
    text-align: right;
  }
  a:link,
  a:visited {
    font-family: var(--fontFamily);
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align: right;
    font-size: 1.3rem;
    padding: 10px 20px;
    display: inline-block;
    margin: 0;
  }
  a:hover {
    text-decoration: none;
    background-color: rgba(64, 64, 64, 0.8);
    border-radius: 7px;
  }
}

@media (min-width: 576px) {
  #menu-top {
    display: flex;
  }
}

@media (min-width: 768px) {
  #brand li a {
    display: inline;
    margin: 0;
  }
  #main-nav h1 {
    font-size: 2rem;
  }
}
