/**
 * PORTFOLIO 
 */
.portfolio {
  animation: moveUp 1s ease-out;
  h3 a:link {
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
  }
  img {
    width: 100%;
    height: auto;
    filter: grayscale(0);
    transition: 500ms all ease-out;
    &:hover {
      transform: scale(1.1);
      filter: grayscale(100%);
    }
  }
}

#portfolio {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  .item {
    flex: 1;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    animation-name: moveUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    .card-image {
      flex: 1;
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        filter: grayscale(100%);
        transition: 500ms all ease-out;
        &:hover {
          transform: scale(1.1);
          filter: none;
        }
      }
    }

    .card-text {
      flex: 1;
      text-align: left;
      margin: 15px;

      h2 {
        margin-top: 0;
      }
    }
  }

  .item img {
    box-sizing: border-box;
  }
}

/* #portfolio .item .card-image img{
  width: 100%;
} */

@media (min-width: 768px) {
  #portfolio .item {
    flex-direction: row;
  }
  .card-image,
  .card-text {
    flex: 1;
  }
  #portfolio .item .card-text {
    padding-left: 15px;
    margin: 0 15px;
  }
}
