// HEADER
.header__main {
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;

  &--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0)
      ),
      url('./assets/images/trofeus-v.01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s all ease-out;
    // box-shadow: inset 0 0 4rem 2rem rgba(0, 0, 0, 0.6);

    &:hover {
      transform: scale(1.1);
    }
  }
  &--arrow {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    animation: bounceUP 1.5s ease-in-out infinite;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    a {
      margin: 0 auto;
    }
  }
  &--title {
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: 50;
  }
}

.brand {
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: 3000;
}
