footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: $color-gray;
  width: 100%;
  margin-top: 50px;
  
  p {
    flex: 1;
    margin: 0;
    text-align: center;
    align-self: center;
  }
}
