//NAVEGAÇÃO
.nav-main {
  position: absolute;
  padding: 1rem;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

  &__brand,
  &__nav {
    list-style-type: none;
    margin: 0;
    flex-shrink: 1;
  }

  &__brand {
    display: flex;
    li {
      margin: 1rem 2rem;
    }
  }
  &__nav {
    display: flex;
    align-items: flex-end;
    li {
      padding-right: 1rem;
      flex-grow: 0;
      flex-shrink: 1;
      text-align: right;
    }
    a:link,
    a:visited,
    a:active {
      padding: 1rem 1.5rem;

      &:hover {
        background-color: rgba(64, 64, 64, 0.8);
        border-radius: 0.5rem;
      }
    }
  }
}
