.custom-page {
  padding-left: 2rem;
  padding-right: 2rem;
  grid-row: 2/3;
  grid-column: content-start/content-end;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__content {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }

    p {
      font-size: 1.3rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint_md) {
  .custom-page {
    grid-row: 2/3;

    &__content {
      grid-template-columns: 1fr;

      p {
        font-size: 1.3rem;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
