*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px -> 1rem = 10px
}

body {
  font-family: $font-family;
  color: $color-gray;
  font-weight: 300;
  line-height: 1.3;
  position: relative;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(2, min-content);
  grid-template-columns:
    [full-start] 1fr [content-start] repeat(
      12,
      [col-start] minmax(min-content, 10rem) [col-end]
    )
    [content-end] 1fr [full-end];
  scroll-behavior: smooth;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: $color-gray;
}
a:hover {
  color: darken($color-gray, 20%);
}
